[submodule "design/basys3_uart"]
	path = design/basys3_uart
	url = https://github.com/Mohsannaeem/basys_uart.git
[submodule "design/uart"]
	path = design/uart
	url = https://github.com/Mohsannaeem/uart.git
